<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="film" item-start> </ion-icon>  Film</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>

      <ion-item>
          <ion-label fixed>Date</ion-label>
          <ion-input type="text" [(ngModel)]="date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Titre</ion-label>
          <ion-input type="text" [(ngModel)]="debut"></ion-input>
        </ion-item>
      
        <button ion-button block (click)="search()">Rechercher</button>
     
  <ion-card *ngFor="let movie of tableau?.results" (click)="showDetails(movie.id)"> 
    <ion-card-header>
      <ion-card-title>{{movie.title}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  
</ion-content>

<!-- 
  <ion-card *ngFor="let movie of tableau.results" > (click)="showDetails(movie)"*/
    <img [src]="https://image.tmdb.org/t/p/original{{movie.poster_path}}">
  </ion-card>
-->